
<!doctype html>
<html lang="en">
  <head th:replace="/fragments/head"></head>
  <body>

  <nav th:replace = "/fragments/nav :: nav-front"></nav>

  <div class="container-fluid mt-5">
    <div class="row">
      <div th:replace="/fragments/categories"></div>
      <div class="col" ></div>
      <div class="col-6 text-center">
        <h3 class="display-4">Login</h3>
        
        <div class="alert alert-danger" th:if="${param.error}">
          Invalid attempt
        </div>
        
     <form method="post" th:action="@{/login}">
    
       
       <div class="form-group">
          <label for="">UserName:</label>
          <textarea type = "text" name="username" id="username" rows="2" class="form-control" placeholder="UserName"></textarea>
       </div>
       
       <div class="form-group">
          <label for="">Password</label>
          <textarea type = "password" name="password" id="password" rows="2" class="form-control" ></textarea>
       </div>
       
      
       <button class="btn btn-danger">Login</button>
    
       <p>
         Click<a th:href="@{/register}"> here</a> to register. 
       </p>
    
    </form> 
        
      </div>
      <div class="col"></div>
    </div>
  </div>   


  <div th:replace= "/fragments/footer"> </div>

</body>

</html>